<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body{
       text-align:center;
    }
    </style>
  </head>
  <body>
    <img src="{%static 'confusion_matrix.png'%}" alt="image not found">
    <br>
    <b>Accuracy is {{accuracy}}</b>
    <br>
    <b>sensitivity is {{sensitivity}}</b>
    <br>
    <b>specificity is {{specificity}}</b>
    <br>
    <b>precision is {{precision}}</b>
  </body>
</html>
